body {
	background-color: #06B0E8;
	font-family: Verdana, DejaVu Sans, Bitstream Vera Sans, Arial, Helvetica, sans-serif;
    color: white;
}
div#contents {
	width: 622px;
	min-height: 622px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 10px;
	background: #231f20 url('data/logo.jpg');
	background-position: top right;
	background-repeat: no-repeat;
}
p {
	font-size: 10pt;
	margin: 0;
	margin-top: .75ex;
	padding: 0;
}
.code {
	font-family: monospace;
        word-wrap: break-word;
}
acronym {
	border-bottom: 1px dashed silver;
	color: silver;
	cursor: help;
}

div#header {
	width: 602px;
	height: 128px;
	border-bottom: 3px solid gray;
	padding: 10px;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 40px;
}
h2 {
	margin: 0;
	margin-top: 60px;
	padding: 0;
	text-align: right;
	font-size: 14px;
	color: gray;
}
h3 {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	text-align: left;
	font-size: 22px;
	font-variant: small-caps;
}
h5 {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	font-size: 10pt;
	font-weight: 100;
	border-top: 1px dotted slategray;
}
ul,dl {
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	padding-left: 1.1em;
}
dt {
	font-weight: 900;
}
li,dl,dt {
	font-size: 10pt;
}

a {
	color: #BCBED3;
	text-decoration: none;
}
a:hover {
	color: #ACAEC3;
	text-decoration: underline;
}

div.item {
	margin: 20px 0 5px 0;
	padding: 0;
	padding-top: 5px;
}
div.subitem {
	margin: 5px 0 5px 25px;
	padding: 0;
	padding-top: 5px;
}
h4 {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	border-top: 1px dotted silver;
	background-color: inherit;
	color: inherit;
}
a.onwards>h4 {
	border-top: 2px dotted silver;
}
a.onwards>h5 {
	border-top: 1px dotted silver;
}
span.onwards {
	float: right;
	font-size: inherit;
	font-weight: inherit;
	background-color: inherit;
	color: gray;
	margin-top: 1px;
}
a.onwards {
	display: block;
	border: 1px solid transparent;
	font-size: 12pt;
/* 	font-weight: 900; */
	color: white;
	background-color: transparent;
	text-decoration: none;
}
a.onwards-subitem {
	display: block;
	border: 1px solid transparent;
	font-size: 10pt;
/* 	font-weight: 900; */
	color: white;
	background-color: transparent;
	text-decoration: none;
}
a.image {
	display: inline-block;
	border: 1px dotted white;
	color: white;
	background: transparent url('./data/semitrans.png');
	margin: 12px;
	padding: 5px;
	width: 170px;
	text-decoration: none;
	font-size: 10pt;
	text-align: center;
}
a.image img {
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid silver;
}
a.onwards:hover, a.onwards-subitem:hover, a.image:hover {
	border: 1px solid black;
	color: black;
	background-color: silver;
	text-decoration: none;
}
a.button, a.button:hover {
	float: right;
	text-decoration: none;
	font-size: 10px;
	color: gray;
}

hr {
	background-color: #06B0E8;
	margin: 10px -11px -10px -11px;
	height: 10pt;
	border: 1px solid black;
	border-left: 1px solid #06B0E8;
	border-right: 1px solid #06B0E8;
}

div#footer {
	width: 622px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background: transparent;
	color: gray;
	font-size: 7px;
	text-align: center;
}
a.footer, a.footer:hover {
	color: gray;
	text-decoration: underline;
}

a.description {
	display: block;
	width: 110px;
	float: right;
	background-color: transparent;
	color: gray;
	text-decoration: none;
	text-align: center;
	border: 1px dashed silver;
}

a.description:hover {
	float: right;
	background-color: silver;
	color: black;
	text-decoration: none;
	border: 1px dashed silver;
}
div#description,div#instructionsforubuntu,div#instructionsforarch,div#instructionsforopensuse,div#windowsunstable {
	display: none
}
